:root {
  --background: #040613;
}

body {
  background: var(--background);
}

.button {
  border-radius: 20px;
  background-color: #10edfa;
  border: none;
  padding: 10px;
  min-width: 100px;
  font-size: 16;
}